<svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
    <defs>
    </defs>
    
    <g class="logo-1">
      <g class="logo-grp-1" >
        <mask id="Mask">
          <circle class="xmask" cx="60" cy="60" r="100" fill="#fff" />
          <circle class="xmask" cx="60" cy="60" r="50" fill="#000" />
        </mask>
        <g class="logo-grp-2"  mask="url(#Mask)">
          <circle class="go" cx="60" cy="65" r="48" style="fill:#fff;"/>
          <circle class="go" cx="60" cy="55" r="48" style="fill:#fff;"/>
        </g>
      </g>
    </g>

    <g class="logo-2">
      <g class="logo-grp-1" >
        <mask id="Mask2">
          <circle class="xmask" cx="60" cy="60" r="100" fill="#fff" />
          <circle class="xmask" cx="60" cy="60" r="50" fill="#000" />
        </mask>
        <g class="logo-grp-2"  style="animation-delay: -0.33s" mask="url(#Mask2)">
          <circle class="go" cx="60" cy="65" r="48" style="fill:#fff;"/>
          <circle class="go" cx="60" cy="55" r="48" style="fill:#fff;"/>
        </g>
      </g>
    </g>
    
    <g>
      <g class="logo-grp-1" >
        <mask id="Mask3">
          <circle class="xmask" cx="60" cy="60" r="100" fill="#fff" />
          <circle class="xmask" cx="60" cy="60" r="50" fill="#000" />
        </mask>
        <g class="logo-grp-2"  style="animation-delay: -0.66s" mask="url(#Mask3)">
          <circle class="go" cx="60" cy="65" r="48" style="fill:#fff;"/>
          <circle class="go" cx="60" cy="55" r="48" style="fill:#fff;"/>
        </g>
      </g>
    </g>
    <text x="50" y="70" font-size="50px" style="fill:#fff;">P</text>
  </svg>
  
<div id="nav">
    <a href="/all">ALL</a>
    <a href="/iw5mp">IW5</a>
    <a href="/t6mp">T6</a>
    <a href="/t6zm">T6 ZM</a>
    <a href="/t4mp">T4</a>
    <a href="/t4sp">T4 ZM</a>
</div>