<!DOCTYPE html>
<html>
    <head>
        <title>Plutonium Server List (BETA)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;800&family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="/style.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/mxve.png">
    </head>
    <body>
        <h1>Plutonium Server List</h1>
        <div id="nav">
            <a href="/all">ALL</a>
            <a href="/iw5mp">MW3</a>
            <a href="/t6mp">BO2</a>
            <a href="/t6zm">BO2 ZM</a>
            <a href="/t4mp">WaW</a>
            <a href="/t4sp">WaW ZM</a>
        </div>
        <div id="search">
            <form class="search" method="get">
                <input size="24" type="text" placeholder="Search" value="" name="s">
            </form>
        </div>
        <div id="info">
            Servers: <%= api.countServers %><br>
            Players: <%= api.countPlayers %>/<%= api.maxPlayers %><br>
            <sub>Data age: <%= api.age %></sub>
        </div>
        <div id="server-container">
            <div class="server header">
                <img src="/img/mxve.png" />
                <span class="hostname">Name</span>
                <span class="slots">Players</span>
                <span class="gametype">Gamemode</span>
                <span class="map">Map</span>
            </div>
        <%
            for (const server of api.servers) {
                __append(`  <a href="/server/${server.ip}/${server.port}" class="server ${server.game}"> 
                                <img src="/img/${server.game}.jpg" />
                                <span class="hostname">${server.hostnameDisplay}</span>
                                <span class="slots">${server.players.length}/${server.maxplayers}</span>
                                <span class="gametype">${server.gametypeDisplay}</span>
                                <span class="map">${server.mapDisplay}</span>
                            </a>
                            `)
            }
        %>
        </div>
        <div id="footer">
            Made by mxve#3406<br>
            This website is in no way endorsed by or affiliated with Plutonium, Activision, Treyarch, Infinity Ward or any other copyright holder whos assets and/or trademarks may have been used.<br>
            Server data provided by <a href="https://plutonium.pw/api/servers">Plutonium server API</a>. Takedown and unlisting requests: hi@mxve.de<br>
            <a href="https://github.com/mxve/plutonium-server-list">Source Code</a>
        </div>
    </body>
</html>