<!DOCTYPE html>
<html>
    <head>
        
        <title>
            <% if (server.known === true) {
                    __append(server.hostnameDisplay)
                } else {
                    __append('Unknown server')
                }
            %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;800&family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
        <link href="/style.css" rel="stylesheet">
        <link rel="icon" type="image/jpeg" href="/img/<%= server.game %>.jpg">
    </head>
    <body>
        <h1>Plutonium Server List</h1>
        <div id="nav">
            <a href="/all">ALL</a>
            <a href="/iw5mp">MW3</a>
            <a href="/t6mp">BO2</a>
            <a href="/t6zm">BO2 ZM</a>
            <a href="/t4mp">WaW</a>
            <a href="/t4sp">WaW ZM</a>
        </div>
        <% if (server.known === true) { %>
        <div id="server-container">
        <%
            __append(`  <a href="/server/${server.ip}/${server.port}" class="server ${server.game}"> 
                            <img src="/img/${server.game}.jpg" />
                            <span class="hostname">${server.hostnameDisplay}</span>
                            <span class="slots">${server.players.length}/${server.maxplayers}</span>
                            <span class="gametype">${server.gametypeDisplay}</span>
                            <span class="map">${server.mapDisplay}</span>
                        </a>
                        `)
        %>
        </div>
        <div id="server-details">
            <%
                __append(`<span onClick="copy()" class="connect">connect ${server.ip}:${server.port}</span>
                    `)

                if (server.players.length > 0) {
            %>
            <div id="players">
                <div class="player header">
                    <span class="username">
                        Username
                    </span>
                    <span class="ping">
                        Ping
                    </span>
                </div>
                <%
                    for (player of server.players) {
                        __append(`
                                    <div class="player">
                                        <span class="username">
                                            <a href="https://forum.plutonium.pw/user/${player.userslug}">${player.username}</a>
                                        </span>
                                        <span class="ping">
                                            ${player.ping}
                                        </span>
                                    </div>
                                        `)
                    }
                    }
                %>
            </div>
        </div>
        <% } else { %>

            <div id="server-error">Unknown Server</div>
        <% } %>
        <div id="footer">
            Made by mxve#3406<br>
            This website is in no way endorsed by or affiliated with Plutonium, Activision, Treyarch, Infinity Ward or any other copyright holder whos assets and/or trademarks may have been used.<br>
            Server data provided by <a href="https://plutonium.pw/api/servers">Plutonium server API</a>. Takedown and unlisting requests: hi@mxve.de<br>
            <a href="https://github.com/mxve/plutonium-server-list">Source Code</a>
        </div>
        <script>
            function copy() {
                navigator.clipboard.writeText("connect <%= server.ip %>:<%= server.port %>");
                alert("Copied!");
            }
        </script>
    </body>
</html>