* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #18181a;
    color: #e6e1dc;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
    margin: 24px;
}

#info {
    text-align: center;
    margin-top: 36px;
}

#search {
    text-align: center;
    margin-top: 36px;
}

#search input {
    background-color: rgba(30,30,30);
    border: 2px rgba(50,50,50) solid;
    padding: 4px;
    border-radius: 4px;
    color: white;
}

#nav {
    margin: auto;
    text-align: center;
    font-size: 1.4em;
}

#nav a {
    color: white;
    text-decoration: none;
    border-bottom: 1px white dotted;
    margin: 6px;
    white-space: nowrap;
}

#nav a:hover {
    border-bottom: 1px darkgray dotted;
}

#footer {
    width: 100%;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 1em;
    color: rgb(100, 100, 100);
    font-size: 0.7em;
}

#footer a {
    color: rgb(100, 100, 100);
}

#server-container {
    margin: auto;
    display: block;
    width: 960px;
    margin-top: 48px;
}

#server-details {
    margin: auto;
    width: 400px;
    text-align: center;
}

#server-details #players {
    width: 260px;
    margin: auto;
    display: block;
}

#server-details .connect {
    background-color: rgb(50, 50, 50);
    border-radius: 3px;
    padding: 3px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 8px;
    cursor: pointer;
}

#server-details .player {
    display: block;
    text-align: left;
    color: #dddddd;
}

.player.header {
    font-weight: 800;
    border-bottom: 1px #5a5a5a dotted;
    margin-top: 24px;
    margin-bottom: 8px;
}

#server-details .player a {
    color: #dddddd;
    text-decoration: none;
    border-bottom: 1px white dotted;
}

#server-details .player a:hover {
    border-bottom: 1px darkgray dotted;
}

#server-details .player .username {
    width: 200px;
    display: inline-block;
}

.server {
    /*background-color: #afafaf;*/
    margin-bottom: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    color: #e6e1dc;
    text-decoration: none;
}

.server.header {
    font-weight: 800;
    border-bottom: 1px #5a5a5a dotted;
}

.server img {
    width: 20px;
    position: relative;
    display: inline-block;
    top: 2px;
    left: 2px;
    margin-right: 8px;
}

.server .hostname {
    font-size: 1.1em;
    /*display: block;*/
    display: inline-block;
    width: 428px;
    font-weight: 600;
}

.server .slots {
    display: inline-block;
    width: 70px;
}

.server .gametype {
    display: inline-block;
    width: 170px;
}

@media screen and (max-width: 959px) {
    #server-container {
        width: 95%;
    }
    
    .server.header {
        display: none;
    }
    
    .server img {
        display: none;
    }
}

.iw5mp {
    border-bottom: 1px rgb(76, 161, 83) solid;
}

.iw5mp:hover {
    background-color: rgba(76, 161, 83, 0.15);
}

.t6mp {
    border-bottom: 1px rgb(236, 111, 0) solid;
}

.t6mp:hover {
    background-color: rgba(236, 111, 0, 0.15);
}

.t6zm {
    border-bottom: 1px rgb(236, 25, 0) solid;
}

.t6zm:hover {
    background-color: rgba(236, 25, 0, 0.15);
}

.t4mp, .t4sp {
    border-bottom: 1px rgb(100, 149, 237) solid;
}

.t4mp:hover, .t4sp:hover {
    background-color: rgba(100, 149, 237, 0.15);
}