:root {
    --background: rgb(24, 24, 26);
    --background-highlight: rgb(28, 28, 30);
    --background-highlight2: rgb(32, 32, 34);
    --background-highlight3: rgb(50, 50, 54);
    --foreground: rgb(230, 225, 220);
    --foreground-highlight: rgb(170, 165, 160);
    --foreground-dim: rgb(100, 100, 100);
    --foreground-warn: rgb(255, 160, 160);

    --iw5mp: rgb(112, 154, 39);
    --iw5mp-bg: rgba(76, 161, 83, 0.15);
    --t6mp: rgb(236, 111, 20);
    --t6mp-bg: rgba(236, 111, 20, 0.15);
    --t6zm: rgb(224, 42, 20);
    --t6zm-bg: rgba(224, 42, 20, 0.15);
    --t4mp: rgb(100, 149, 237);
    --t4mp-bg: rgba(100, 149, 237, 0.15);
    --t4sp: var(--t4mp);
    --t4sp-bg: var(--t4mp-bg);
}

* {
    margin: 0;
    padding: 0;

}

html {
    overflow-y: scroll;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 12px;
    text-align: center;
    margin: 24px;
}

#stats {
    position: fixed;
    right: -8px;
    bottom: -8px;
    background-color: var(--background-highlight);
    padding: 8px;
    padding-bottom: 16px;
    padding-right: 16px;
    border-radius: 8px;
}

#search-container {
    margin: auto;
    width: 940px;
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

#search {
    text-align: right;
    margin-top: 36px;
}

#search input {
    background-color: var(--background-highlight);
    border: 2px var(--background-highlight2) solid;
    padding: 4px;
    border-radius: 4px;
    color: var(--foreground);
    outline: none;
    width: 200px;
}

#nav {
    margin: auto;
    text-align: center;
    font-size: 1.4em;
}

#nav a {
    color: var(--foreground);
    text-decoration: none;
    border-bottom: 1px var(--foreground) dotted;
    margin: 6px;
    white-space: nowrap;
}

#nav a:hover {
    border-bottom: 1px var(--foreground-highlight) dotted;
}

#footer {
    width: 100%;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 1em;
    color: var(--foreground-dim);
    font-size: 0.7em;
}

#footer a {
    color: var(--foreground-dim);
}

#server-container {
    margin: auto;
    display: block;
    width: 960px;
    margin-top: 48px;
}

#server-details {
    margin: auto;
    width: 400px;
    text-align: center;
}

#server-details #players {
    width: 260px;
    margin: auto;
    display: block;
}

#server-details .connect {
    background-color: var(--background-highlight3);
    border-radius: 3px;
    padding: 3px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 8px;
    cursor: pointer;
}

#server-details .player {
    display: block;
    text-align: left;
    color: var(--foreground);
}

#server-error {
    text-align: center;
    margin-top: 30px;
}

.player.header {
    font-weight: 800;
    border-bottom: 1px var(--background-highlight3) dotted;
    margin-top: 24px;
    margin-bottom: 8px;
}

#server-details .player a {
    color: var(--foreground);
    text-decoration: none;
    border-bottom: 1px var(--foreground) dotted;
}

#server-details .player a:hover {
    border-bottom: 1px var(--foreground-highlight) dotted;
}

#server-details .player .username {
    width: 200px;
    display: inline-block;
}

.server {
    margin-bottom: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    color: var(--foreground);
    text-decoration: none;
}

.server .outdated {
    color: var(--foreground-warn);
    text-decoration: none;
}

.server.header {
    font-weight: 800;
    border-bottom: 1px var(--background-highlight3) dotted;
}

.server img {
    width: 20px;
    position: relative;
    display: inline-block;
    top: 2px;
    left: 2px;
    margin-right: 8px;
}

.server .hostname {
    font-size: 1.1em;
    display: inline-block;
    width: 450px;
    font-weight: 600;
    max-width: 100%;
}

.server .slots {
    display: inline-block;
    width: 70px;
}

.server .gametype {
    display: inline-block;
    width: 170px;
}

.iw5mp {
    border-bottom: 1px var(--iw5mp) solid;
}

.iw5mp:hover {
    background-color: var(--iw5mp-bg);
}

.t6mp {
    border-bottom: 1px var(--t6mp) solid;
}

.t6mp:hover {
    background-color: var(--t6mp-bg);
}

.t6zm {
    border-bottom: 1px var(--t6zm) solid;
}

.t6zm:hover {
    background-color: var(--t6zm-bg);
}

.t4mp {
    border-bottom: 1px var(--t4mp) solid;
}

.t4mp:hover {
    background-color: var(--t4mp-bg);
}

.t4sp {
    border-bottom: 1px var(--t4sp) solid;
}

.t4sp:hover {
    background-color: var(--t4sp-bg);
}

#logo {
    width: 200px;
    margin: auto;
    display: block;
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    z-index: 5;
}

.logo-1 {
    transform-origin: 60px 60px;
    transform: rotateZ(60deg);
}

.logo-2 {
    transform-origin: 60px 60px;
    transform: rotateZ(-60deg);
}

.logo-grp-1 {
    transform-origin: 60px 60px;
    transform: scaleX(.32);
}

.logo-grp-2 {
    animation: turnIt 3s linear infinite;
    transform-origin: 60px 60px;
    transform-box: content-box;
}

@keyframes turnIt {
    100% {
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 959px) {
    #server-container {
        width: 95%;
        max-width: 430px;
    }

    .server.header {
        display: none;
    }

    .server img {
        display: none;
    }

    .server .hostname {
        display: block;
    }

    .server {
        margin-bottom: 14px;
    }

    #search-container {
        margin: auto;
        width: 95%;
        max-width: 430px;
    }

    #search {
        text-align: center;
        margin-top: 1em;
    }

    #logo {
        margin-top: 3em;
    }

    #stats {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 8px;
        max-width: 75%;
    }
}