@import url('vars.css');
@import url('colors.css');

.serverlist {
    width: 960px;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Roboto Condensed', sans-serif;
}

.serverlist tr {
    text-align: left;
    cursor: pointer;
    padding-top: 30px;
    height: 33px;
}

.serverlist tbody tr {
    border-bottom: 1px solid;
}

.serverlist tr th {
    text-align: left;
    cursor: pointer;
    border-bottom: 1px var(--background-highlight3) dotted;
    font-weight: 700;
    font-size: 18px;
}

.serverlist tr th.symbol {
    font-weight: 500;
    font-size: 14px;
}

.serverlist tr th.no-sort {
    pointer-events: none;
}

.serverlist tr .icon,
.serverlist tr .round,
.serverlist tr .password,
.serverlist tr .aimassist {
    width: 26px;
}

.serverlist tr .icon img {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    top: 2px;
    left: 2px;
}

.serverlist tr .flag {
    width: 30px;
}

.serverlist tr .slots {
    width: 75px;
}

.serverlist tr td.hostname {
    font-weight: 700;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 975px) {
    .serverlist {
        width: 90vw;
        max-width: 430px;
    }
    .serverlist tr {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        height: 45px;
    }
    .serverlist tr td.hostname {
        width: 80%;
        max-width: 360px;
    }
    .serverlist tr td.slots {
        width: 65px;
    }
    .serverlist tr td.gametype {
        width: 160px;
    }
    .serverlist tr td.map .margin {
        margin-right: 6px;
    }
    .serverlist tr td.icon {
        width: 22px;
    }
    .serverlist tr td.flag {
        width: 24px;
    }
    .serverlist tr td.icon,
    .serverlist tr td.map,
    .serverlist tr td.round,
    .serverlist tr td.gametype,
    .serverlist tr td.slots,
    .serverlist tr td.hostname,
    .serverlist tr td.flag {
        display: inline-block;
    }
    .serverlist tr td.password,
    .serverlist tr td.round .x,
    .serverlist tr td.aimassist,
    .serverlist tr td.favourite,
    .serverlist tr th {
        display: none;
    }
}