<%- config.analytics %>
<div id="footer">
    <a href="https://twitter.com/PluTools_pw">Twitter</a> | <a href="https://discord.com/invite/GGzrMD3ZMU">Discord</a><br>
    This website is in no way endorsed by or affiliated with Plutonium, X Labs, AlterWare, Aurora, Activision, Treyarch, Infinity Ward or any other copyright holder whos assets and/or trademarks may have been used.<br>
    Contact: hi[at]mxve.de<br>
    <a href="https://github.com/mxve/cod-server-list">Source Code</a>
</div>