<div id="logo">
    <a href="/"><img src="/img/banner.png"></a>
</div>
<div id="nav">
    <a href="https://plutools.pw">PluTools</a>
    <a href="https://discord.com/invite/GGzrMD3ZMU">Discord</a>
</div>
<div id="nav" class="filters">
    <a href="/all">ALL</a>
    <a href="/plutonium">Plutonium</a>
    <a href="/alterware">AlterWare</a>
    <br>
    <a href="/iw5mp" class="iw5mp border">IW5</a>
    <a href="/t4mp" class="t4mp border">T4</a>
    <a href="/t4sp" class="t4sp border">T4ZM</a>
    <a href="/t5mp" class="t5mp border">T5</a>
    <a href="/t5sp" class="t5sp border">T5ZM</a>
    <a href="/t6mp" class="t6mp border">T6</a>
    <a href="/t6zm" class="t6zm border">T6ZM</a>
    <a href="/iw4x" class="iw4x border">IW4x</a>
    <a href="/iw6" class="iw6 border">IW6</a>
    <a href="/s1" class="s1 border">S1</a>
    <a href="/t7" class="t7 border">T7</a>
</div>

<div id="banner">
    <!-- <b>Download T7x from the <a href="https://discord.gg/2ETE8engZM">AlterWare Discord</a></b> -->
</div>
