{
    "dpmaster": {
        "alterware": {
            "master": {
                "host": "server.alterware.dev",
                "port": 20810
            },
            "games": {
                "iw6": {
                    "game_id": "IW6",
                    "protocol": 1
                },
                "s1": {
                    "game_id": "S1",
                    "protocol": 1
                }
            }
        }
    },
    "iw4x": {
        "nodes": [
            ""
        ]
    },
    "misc": {
        "hostname_max_length": 48,
        "plutonium_min_revision": {
            "iw5mp": 3519,
            "t4sp": 0,
            "t4mp": 0,
            "t5sp": 0,
            "t5mp": 0,
            "t6mp": 0,
            "t6zm": 0
        }
    }
}